@import 'styles/breakpoints';

.about__info {
  grid-template-columns: repeat(3, 140px);
  gap: 1.5rem;
  margin-block-end: var(--mb-2);

  @include query-max-tablet-landscape() {
    justify-content: center;
  }

  @include query-max-phablet() {
    grid-template-columns: repeat(3, 1fr);
  }

  @include query-max-mobile() {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;

  @include query-max-tablet-landscape() {
    padding: 0.75rem 0.5rem;
  }
}

.about__icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-block-end: var(--mb-0-5);
}

.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.about__subtitle {
  font-size: var(--tiny-font-size);
}
