@import 'styles/breakpoints';

.qualification__container {
  // max-width: 768px;

  @include query-max-tablet-landscape() {
    margin-inline: auto;
  }

  @include query-max-tablet() {
    margin-inline: var(--mb-1-5);
  }
}

.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-block-end: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    color: var(--title-color-dark);
  }

  @media screen and (max-width: 576px) {
    margin: 0 var(--mb-0-75);
  }
}

.qualification__icon {
  font-size: 1.8rem;
  margin-inline-end: var(--mb-0-25);
}

.qualification__active {
  color: var(--title-color-dark);
  opacity: 1;
}

.qualification__sections {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;

  @media screen and (max-width: 576px) {
    grid-template-columns: initial;
  }
}

.qualification__content {
  display: none;
}

.qualification__content-active {
  display: block;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas: 'blank range content';
  column-gap: 1.5rem;

  @include query-max-mobile() {
    column-gap: 0.5rem;
  }
}

.blank {
  grid-area: blank;
}

.range {
  grid-area: range;
}

.content {
  grid-area: content;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__calendar {
  font-size: var(--small-font-size);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--title-color);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--title-color);
  transform: translate(6px, -7px);
}

.left {
  .blank {
    grid-area: blank;
  }

  .content {
    grid-area: content;
  }
}

.right {
  .blank {
    grid-area: content;
  }

  .content {
    grid-area: blank;
  }
}
