@import 'libs/styles/breakpoints';

.home__scroll {
  margin-inline-start: 9.25rem;

  @include query-max-tablet-landscape() {
    margin-inline-start: 7.5rem;
  }

  @include query-max-tablet() {
    display: none;
  }

  .home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-inline: 2px var(--mb-0-25);
  }

  .home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
  }
}
